
.changeColor {
    background-color: var(--white);
    color: var(--black);

    a {
        color: var(--black);
    }

    div {
        p {
            
            &::after {
                background: var(--black);
            }
            
            &:hover::after {
                background: var(--black);
            }
        }

        &:nth-child(1) {
            .active::after {
                background: var(--black);
            }
        }
    }
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 8vh;
    background-color: var(--red);
    color: var(--white);
    padding: 0% 5%;
    align-items: center;
    margin: 0;

    a {
        color: var(--white);
        text-decoration: none;
    }

    div {
        p {
            cursor: pointer;
            position: relative;
            
            &::after {
                content: "";
                position: absolute;
                bottom: -1.5em;
                left: 50%;
                display: block;
                width: 0;
                height: 0;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                background: var(--white);
                -moz-transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
                -o-transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
                -webkit-transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
                transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
                will-change: transform;
            }
            
            &:hover::after {
                content: "";
                position: absolute;
                bottom: -1.5em;
                left: 50%;
                display: block;
                width: calc(clamp(14px, 1vw, 14px) / 2.75);
                height: calc(clamp(14px, 1vw, 14px) / 2.75);
                border-radius: 50%;
                transform: translate(-50%, -50%);
                background: var(--white);
                -moz-transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
                -o-transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
                -webkit-transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
                transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
                will-change: transform;
            }
        }
    }

    .current, .menu {
        display: flex;
        justify-content: start;
        font-weight: 400;
        font-size: 0.8rem;
        column-gap: 15%;
        position: relative;

        .active {
            position: relative;
        }

        .active::after {
            content: "";
            position: absolute;
            bottom: -1.5em;
            left: 50%;
            display: block;
            width: calc(clamp(14px, 1vw, 14px) / 2.75);
            height: calc(clamp(14px, 1vw, 14px) / 2.75);
            border-radius: 50%;
            transform: translate(-50%, -50%);
            background: var(--white);
            -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
            -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
            -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
            transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
            will-change: transform;
        }
    }

    .menu {
        display: none;
    }

    .logo {
        text-align: center;
        font-weight: 500;
        font-size: 1.2rem;
    }

    .links {
        display: flex;
        column-gap: 10%;
        justify-content: end;
        font-size: 0.8rem;
        font-weight: 400;
    }
}


.fullMenu {
    display: none;
}