
@media only screen and (max-width: 600px) {
    

    #contact {
        background-color: var(--red);
        width: 100vw;
        height: 100%;
        color: var(--white);
    
        .imageContact {
            position: absolute;
            width: 50%;
            top: 10%;
            height: 80%;
            background-image: url('../../assets/dickClark/ama/ama_2.jpg');
            background-position: bottom;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 1;
        }
    
        
        .autoSlideText {
            display: grid;
            align-content: center;
            overflow: hidden;
            height: 100%;
        }
        
        .details {
            width: 100%;
            height: 82%;
            display: grid;
            grid-template-rows: 2fr 1fr;
            background-color: green($color: #000000);
    
            .info {
                padding: 0 9%;
                display: block;
                font-weight: 300;
                margin-top: 1rem;
    
                .catchText {
                    width: 80%;
                    font-size: 0.83rem;
                    line-height: 1.5rem;
                }

                .email {
                    margin-top: 15%;
                }
    
                .address {
                    width: 100%;
                    font-size: 0.83rem;
                    line-height: 1.3rem;
                    margin-top: 2rem;
    
                    div {
                        float: left;
                        width: 80%;
                    }
                }
            }
        }
    }

}