
<div id="contact">
  <app-nav-bar></app-nav-bar>
    <div class="details">
      <div style="position: relative;">
        <div class="imageContact"></div>
        <div class="autoSlideText">
          <div class="marquee-wrapper">
            <div class="marquee">
              <div class="marquee-group"> 
                <div class="marquee-tag-wrapper">
                  <span class="marquee-tag">Get in touch · 保持联系 · Ponerse en contacto · Neem contact op · </span> 
                </div> 
                <div class="marquee-tag-wrapper">
                  <span class="marquee-tag">Get in touch · 保持联系 · Ponerse en contacto · Neem contact op · </span> 
                </div> 
                </div> 
              <div class="marquee-group"> 
                <div class="marquee-tag-wrapper">
                  <span class="marquee-tag">Get in touch · 保持联系 · Ponerse en contacto · Neem contact op · </span> 
                </div> 
                <div class="marquee-tag-wrapper">
                  <span class="marquee-tag">Get in touch · 保持联系 · Ponerse en contacto · Neem contact op · </span> 
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="info">
            <div>
                <div class="catchText">
                    Ready for lift-off? Ping, tweet, message or poke — and we will get back as soon as possible.
                </div>
                <div class="email">
                    <ul>
                        <li>alexanderatkins0@gmail.com</li>
                        <span class="material-icons">mail</span>
                    </ul>
                </div>
            </div>
            <div>
            </div>
            <div class="address">
                <div>
                    <p>New York City, New York, The United States of America</p>
                </div>
            </div>
        </div>
    </div>
</div>
