<div style="width: 100vw;">
    <app-nav-bar></app-nav-bar>
    <h1>Pulse <br/> Music Group</h1>

    <div class="mainOverlay" id="mainOverlay">
        <img id="mainOverlayBg" src="../../assets/pulseMusic/pulse_bg.jpg" />
        <img src="../../assets/pulseMusic/pulsemusic_main.svg" />
    </div>

    <div class="contribution">
        <div>
            <p>My Contribution</p>
        </div>
        <div>
            <p>One of the main objectives for the new site was to attract new business and leave a memorable impression on (often busy) brand representatives and ad agencies.</p>
            <br/>
            <p>Secondary objective was to present Ali’s story in an immersive way in order to connect with his audience and express his love for storytelling and typography.</p>
        </div>
    </div>

    <div class="project">
        <h3>A&R Scout</h3>
        <div class="padphone">
            <div class="smallipadpreview">
                <section>
                    <img class="phoneimage" src="../../assets/pulseMusic/ipad_img.png" />
                    <img class="bgimage" src="../../assets/ipad.png" />
                </section>
            </div>
            <div class="smallphonePreview">
                <section>
                    <video class="phoneimage" src="../../assets/pulseMusic/video.mp4"></video>
                    <img class="bgimage" src="../../assets/iphone.png" />
                </section>
            </div>
        </div>
        <div class="contribution">
            <div>
                <p>My Work</p>
            </div>
            <div>
                <p>One of the main objectives for the new site was to attract new business and leave a memorable impression on (often busy) brand representatives and ad agencies.</p>
                <br/>
                <p>Secondary objective was to present Ali’s story in an immersive way in order to connect with his audience and express his love for storytelling and typography.</p>
            </div>
        </div>
    </div>

    <div class="reflection">
        <h2>Reflection</h2>
        <div>
            <p>One of the main objectives for the new site was to attract new business and leave a memorable impression on (often busy) brand representatives and ad agencies.</p>
            <br/>
            <p>Secondary objective was to present Ali’s story in an immersive way in order to connect with his audience and express his love for storytelling and typography.</p>
        </div>
    </div>

    <div class="nextWork">
        <div>
            <p>Next Work</p>
            <div class="workLink">
                <a href="/dick_clark_productions">
                    <h3>Dick Clark Productions</h3>
                </a>
            </div>
            <a href="/work" class='goBack'>
                <div class="button">
                    <div>
                        All Works
                    </div>
                </div>
            </a>
        </div>
    </div>
    
</div>
