
<div style="width: 100vw;">
    <app-nav-bar></app-nav-bar>
    
    <div class="work">
        <div>
            <h2>Featured Works</h2>
            <div>
                <a href="/roc_nation">
                    <div class="workLinks">
                        <div>
                            <p>ROC Nation</p>
                            <span class="material-icons">keyboard_backspace</span>
                        </div>
                        <div>
                            <p>2018</p>
                        </div>
                    </div>
                </a>
                <hr/>
            </div>
            <div>
                <a href="/pulse_music_group">
                    <div class="workLinks">
                        <div>
                            <p>Pulse Music Group</p>
                            <span class="material-icons">keyboard_backspace</span>
                        </div>
                        <div>
                            <p>2018</p>
                        </div>
                    </div>
                </a>
                <hr/>
            </div>
            <div>
                <a href="/dick_clark_productions">
                    <div class="workLinks">
                        <div>
                            <p>Dick Clark Productions</p>
                            <span class="material-icons">keyboard_backspace</span>
                        </div>
                        <div>
                            <p>2018</p>
                        </div>
                    </div>
                </a>
                <hr/>
            </div>
            <div>
                <a href="/culture_collective">
                    <div class="workLinks">
                        <div>
                            <p>Culture Collective</p>
                            <span class="material-icons">keyboard_backspace</span>
                        </div>
                        <div>
                            <p>2018</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
