
<div style="width: 100vw;">
    <app-nav-bar></app-nav-bar>
    <h1>Dick Clark <br/>Productions</h1>

    <div class="mainOverlay" id="mainOverlay">
        <img id="mainOverlayBg" src="../../assets/rocNation/rocNation_bg.jpg" />
        <img id="changedLogo" src="../../assets/dickClark/dickClark_logo.svg" />
    </div>

    <div class="contribution">
        <div>
            <p>My Contribution</p>
        </div>
        <div>
            <p>One of the main objectives for the new site was to attract new business and leave a memorable impression on (often busy) brand representatives and ad agencies.</p>
            <br/>
            <p>Secondary objective was to present Ali’s story in an immersive way in order to connect with his audience and express his love for storytelling and typography.</p>
        </div>
    </div>

    <div class="project">
        <h3>New Year’s Rockin’ Eve <br/>
            Featuring Ryan Seacrest</h3>

        <div class="phonephone" id="phonephone">
            <div class="smallphonePreview" id="one">
                <section>
                    <video controls autoplay loop class="phoneimage" src="../../assets/dickClark/video_1.mp4"></video>
                    <img class="bgimage" src="../../assets/iphone.png" />
                </section>
            </div>
            <div class="smallphonePreview">
                <section>
                    <video controls autoplay loop class="phoneimage" src="../../assets/dickClark/video_2.mp4"></video>
                    <img class="bgimage" src="../../assets/iphone.png" />
                </section>
            </div>
            <div class="smallphonePreview" id="two">
                <section>
                    <video controls autoplay loop class="phoneimage" src="../../assets/dickClark/video_3.mp4"> </video>
                    <img class="bgimage" src="../../assets/iphone.png" />
                </section>
            </div>
        </div>

        <div class="contribution">
            <div>
                <p>My Work</p>
            </div>
            <div>
                <p>One of the main objectives for the new site was to attract new business and leave a memorable impression on (often busy) brand representatives and ad agencies.</p>
                <br/>
                <p>Secondary objective was to present Ali’s story in an immersive way in order to connect with his audience and express his love for storytelling and typography.</p>
            </div>
        </div>
    </div>

    <div class="project">
        <h3>American Music Awards</h3>

        <div class="collage">
            <div class="top">
                <div class="left">
                    <div></div>
                </div>
                <div class="right">
                    <div class="topRight">
                        <div></div>
                        <div>
                            <div></div>
                        </div>
                    </div>
                    <div class="innerRight">
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <div class="contribution">
            <div>
                <p>My Work</p>
            </div>
            <div>
                <p>One of the main objectives for the new site was to attract new business and leave a memorable impression on (often busy) brand representatives and ad agencies.</p>
                <br/>
                <p>Secondary objective was to present Ali’s story in an immersive way in order to connect with his audience and express his love for storytelling and typography.</p>
            </div>
        </div>
    </div>

    <div class="reflection">
        <h2>Reflection</h2>
        
        <div>
            <p>One of the main objectives for the new site was to attract new business and leave a memorable impression on (often busy) brand representatives and ad agencies.</p>
            <br/>
            <p>Secondary objective was to present Ali’s story in an immersive way in order to connect with his audience and express his love for storytelling and typography.</p>
        </div>
    </div>

    <div class="nextWork">
        <div>
            <p>Next Work</p>
            <div class="workLink">
                <a href="/culture_collective">
                    <h3>Culture Collective</h3>
                </a>
            </div>
            <a href="/work" class='goBack'>
                <div class="button">
                    <div>
                        All Works
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
