
<div style="width: 100vw;">
    <app-nav-bar></app-nav-bar>
    <h1>Dick Clark <br/>Productions</h1>

    <div class="mainOverlay" id="mainOverlay">
        <img id="mainOverlayBg" src="../../assets/rocNation/rocNation_bg.jpg" />
        <img id="changedLogo" src="../../assets/dickClark/dickClark_logo.svg" />
    </div>

    <div class="nextWork">
        <div>
            <p>Next Work</p>
            <div class="workLink">
                <a href="/culture_collective">
                    <h3>Culture Collective</h3>
                </a>
            </div>
            <a href="/work" class='goBack'>
                <div class="button">
                    <div>
                        All Works
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
