

.phonephone {
    margin: 10% 10%;
    margin-bottom: 9%;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;

    .smallphonePreview {
        background-color: lightblue;

        &:nth-child(1) {
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 30, 0, 1);
        }

        &:nth-child(3) {
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -30, 0, 1);
        }
    }

    div {
        width: 100%;
        display: grid;
        place-items: center;
        overflow: hidden;
 
        section {
            height: 100%;
            position: relative;
            display: grid;
            justify-items: center;
        }
        
        .bgimage {
            position: absolute;
            top: 0;
            z-index: 2;
            height: 100%;
        }
        
        .phoneimage {
            position: absolute;
            top: 0;
            height: 100%;
            z-index: 1;
            margin-top: 2%;
        }
        
        .video {
            position: absolute;
            top: 0;
            height: 100%;
            margin-top: 2%;
        }
    }
}

#details {
    position: absolute;
    z-index: 2;
    width: 0%;
    right: 0;
    background-color: var(--red);
    height: 100vw;
    position: fixed;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 0);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 0);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 0);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 0);
    color: white;
    
    .info {
        padding: 7% 10%;
        display: grid;
        opacity: 0;
        -moz-transition: all .4s cubic-bezier(0.77, 0, 0.175, 0);
        -o-transition: all .4s cubic-bezier(0.77, 0, 0.175, 0);
        -webkit-transition: all .4s cubic-bezier(0.77, 0, 0.175, 0);
        transition: all .4s cubic-bezier(0.77, 0, 0.175, 0);

        .close {
            width: 100%;
            margin-bottom: 5%;
            cursor: pointer;
            span {
                float: right;
            }
        }

        p {
            font-weight: 300;
            font-size: 0.9rem;
            margin-bottom: 1.8rem;
        }

        h4 {
            font-weight: 400;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        h5 {
            font-weight: 300;
            font-size: 1rem;
            margin-bottom: 2.2rem;
        }

        h3 {
            font-weight: 300;
            font-size: 0.9rem;
            line-height: 1.7rem;
            margin-bottom: 4.5rem;
        }

        ul {
            padding: 0 4%;
            font-weight: 300;
            font-size: 0.8rem;
            line-height: 1.7rem;
            
            li:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }
}


.mainImage {
    background-image: url('../../assets/dickClark/ama/ama_7.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #68222c;
}


#heroBanner {
    flex: 1;
    height: 92vh;
    padding: 0 5%;
    color: var(--white);
    display: grid;
    grid-template-columns: 1fr 4fr;
    text-transform: uppercase;

    .box {
        height: 89%;
        display: grid;
        align-items: flex-end;
        &:nth-child(1) p {
            font-size: 0.85rem;
        }
        &:nth-child(2) {
            justify-content: flex-end;
            text-align: right;
            p {
                font-size: 1.2rem;
                font-weight: 300;
            }
            h2 {
                width: 100%;
                font-size: 5.7rem;
                line-height: 1.5em;
                margin: 0;
                font-weight: 400;
            }
        }
    }    
}


.text {
    color: var(--grey);
    font-weight: 300;
    margin: 6% 0;
    margin-left: 30%;
    width: 45%;
    line-height: 40px;
}

.experience {
    margin: 10% 13%;
    display: grid;
    grid-template-columns: 2fr 3fr;

    h3 {
        font-weight: 400;
        display: grid;
        padding: 0 15%;
        font-size: 1.5rem;
    }

    .right {
        display: grid;
        row-gap: 3.2rem;
    
        p {
            margin: 0;
            font-weight: 300;
            font-size: 0.85rem;
            margin-bottom: 3%;
            color: var(--grey);
        }
    
        h4 {
            font-weight: 400;
            font-size: 1.2rem;
            cursor: pointer;

            span {
                transform: rotate(135deg);
                font-size: 1.15rem;
                -moz-transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
                -o-transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
                -webkit-transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
                transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
            }

            &:hover {
                span {
                    transform: translate(3px, -3px) rotate(135deg);
                }
            }
        }
    
        h5 {
            font-weight: 300;
            margin-top: 1.5%;
            font-size: 0.95rem;
            color: var(--grey);
        }
    }
}

.largeImage {
    width: 100%;
    background-color: orange;
    height: 93vh;
    background-image: url('../../assets/dickClark/ama/ama_7.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.getInTouch {
    padding: 0 5%;
    background-color: var(--red);
    color: var(--white);
    height: 35vh;
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-bottom: 8%;
    align-items: end;

    div {
        &:nth-child(1) {
            a {
                text-decoration: none;
                color: white;
            }

            h3 {
                font-size: 3rem;
                margin: 0;
                font-weight: 400;
            
                span {
                    transform: rotate(135deg);
                    font-size: 2.5rem;
                    -moz-transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
                    -o-transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
                    -webkit-transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
                    transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
                }

                &:hover span {
                    transform: translate(3px, -3px) rotate(135deg);
                    -moz-transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
                    -o-transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
                    -webkit-transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
                    transition: all .2s cubic-bezier(0.77, 0, 0.175, 0);
                }
            }
            p {
                margin-bottom: 2%;
            }
        }
        &:nth-child(2) {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: lightblue;
        }
    }
}