
footer {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    background-color: var(--red);
    color: var(--white);

    p {
        font-weight: 400;
        font-size: 0.75rem;
    }
}